<div class="root__container">
  <header>
    <h1>mktin.tk</h1>
  </header>
  <section class="url-shortener">
    <div class="url-shortener__input">
      <input (keyup.enter)="shortenUrl()" [formControl]="longUrlInput" type="text" placeholder="Shorten your url">
      <div class="action">
        <i *ngIf="!loading" (click)="shortenUrl()" class="fas fa-cut fa-2x"></i>
        <app-loader *ngIf="loading"></app-loader>
      </div>
    </div>
    <div [ngClass]="{'show': showErrorMsg}" class="url-shortener__error">
      <div class="msg-box">
        Invalid url
      </div>
    </div>
    <div class="shorten-url-items">
      <app-short-url-item *ngFor="let shortUrlItem of shortUrlItems.slice().reverse()" [shortURlData]="shortUrlItem"></app-short-url-item>
    </div>
  </section>
</div>
